body, html {
    overflow: hidden; 
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* ---------- */

#container {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ---------- */

#leftPanel {
    background-color: rgb(236, 176, 176);
    margin: 0px;
    padding: 0px;
    content: "";
    width: 22%;
    height: 100%;
    order: 1;
    position: relative; 
    transition: width 0.5s ease;
}

/* ---------- */

#rightPanel {
    background-color: rgb(166, 226, 166);
    margin: 0px;
    padding: 0px;
    content: "";
    width: 25%;
    height: 100%; order: 3;
    transition: width 0.5s ease;
}

/* ---------- */

#mainPanel {
    flex: 1;
    background-color: rgb(168, 168, 243);
    margin: 0px;
    padding: 0px;
    content: "";
    min-width: 53%;
    height: 100%;
    order: 2; 
    display: flex;
    flex-direction: column;
    transition: width 0.5s ease;
}

/* ---------- */

#divDays {
    display: flex;
    flex-direction: row;
    height: 5%;
    }


.days {
    flex: 1;
    text-align: center;
    line-height: 1.8;
    border: solid 0.5px white ;
    vertical-align: middle;

    font-weight: bold;
    font-family: cursive;
    font-size: x-large;
    color: white;

}


/* ---------- */

#daysContainer {
    background-color: rgba(0, 0, 0, 0.089);
    flex: 1;
    content: "";
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(12, 1fr); 
    grid-gap: 10px;
    
}



/* --- Buttons --- */

.minimize {
    background-color: rgba(0, 0, 0, 0);
    content: '';
    height: 50px;
    width: 50px;
    border-color: rgba(0, 0, 0, 0);
    justify-content: center;
    position: absolute;
    top:0px;
    right: 0px;
}
.minimize:active {
    background-color: rgba(0, 0, 0, 0.089);
}
#x{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 1s cubic-bezier(.04,.85,1,1);
}
#x::after,
#x::before{
    content: '';
    position: absolute;
    width: 70%;
    height: 2px;
    background-color: #333;
}
.minimize:hover #x{
    transform: rotate(450deg);
}
#x::before {
    transform: rotate(45deg);
}

#x::after {
  transform: rotate(-45deg);
}
.closed {
    width: 0% !important;
}